<div id="account-panel">


<div id="title">
<h2>Konto</h2>
</div>


<div id="account">

<span class="information">Nick: {{app.session.get("nick")}} </span>
<span class="information">Imie: {{app.session.get("name")}} </span>
<span class="information">Nazwisko: {{app.session.get("secoundname")}} </span>
<span class="information">Adres: {{app.session.get("address")}} </span>
<span class="information">Email: {{app.session.get("email")}} </span>
</div>





</div>
